body {
  margin: 0;
}

main {
  max-width: 850px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

body {
  font-family: "Montserrat";
  font-size: 0.875em;
  color: #000;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  color: #0B70F4;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

p {
  font-weight: 500;
  color: #767676;
  line-height: 22px;
}

span {
  font-weight: 700;
}

.nav {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__logo {
  width: 98px;
  height: 20px;
}
.nav__links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav i {
  font-size: 1.5em;
}
.mobile-nav__logo {
  width: 98px;
  height: 20px;
}
.mobile-nav__side-panel {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  padding-top: 30px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1001;
  transition: right 0.3s ease;
}
.mobile-nav__side-panel__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.mobile-nav__side-panel .close-icon-wrapper {
  margin-right: 30px;
  align-self: flex-end;
}

#close-icon-mobile {
  margin-bottom: 80px;
  font-size: 2em;
}

.hero {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 180px;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
}
.hero__intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero__intro__links {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .hero__intro__links {
    gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .hero__intro {
    text-align: center;
    align-items: center;
  }
}
.hero__photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}
.hero__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .hero__photo {
    margin-bottom: 40px;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 140px;
}
@media screen and (max-width: 767px) {
  .skills {
    margin-bottom: 80px;
  }
}
.skills span {
  width: 55px;
  font-weight: 700;
}
.skills__logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.skills__logos__separator {
  background-color: #000;
}

.apropos {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-bottom: 140px;
}
@media screen and (max-width: 767px) {
  .apropos {
    margin-bottom: 80px;
  }
}
.apropos__image {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .apropos__image {
    display: none;
  }
}
.apropos__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.apropos__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 410px;
}
@media screen and (max-width: 767px) {
  .apropos__content {
    max-width: 100%;
  }
}

.projets {
  margin-bottom: 140px;
}
.projets h2 {
  margin-bottom: 50px;
}
.projets__projet {
  display: flex;
  gap: 60px;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .projets__projet {
    flex-direction: column;
    gap: 20px;
  }
}
.projets__projet__image {
  width: 400px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #D9D9D9;
}
@media screen and (max-width: 767px) {
  .projets__projet__image {
    width: 100%;
  }
}
.projets__projet__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projets__projet__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 320px;
}
.projets__projet__content__technos {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #0B70F4;
}
.projets__projet__content__links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.projets__projet__content__links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.projets__projet__bis {
  display: flex;
  flex-direction: row-reverse;
  gap: 60px;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .projets__projet__bis {
    flex-direction: column;
    gap: 20px;
  }
}
.projets__projet__bis__image {
  width: 400px;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #D9D9D9;
}
@media screen and (max-width: 767px) {
  .projets__projet__bis__image {
    width: 100%;
  }
}
.projets__projet__bis__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projets__projet__bis__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 320px;
}
.projets__projet__bis__content__technos {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #0B70F4;
}
.projets__projet__bis__content__links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.projets__projet__bis__content__links a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}
#contact h2 {
  margin-bottom: 50px;
}
#contact i {
  font-size: 1.5em;
  color: #0B70F4;
  margin-bottom: 20px;
}
#contact span {
  margin-bottom: 10px;
}

footer {
  height: 10px;
}

/*# sourceMappingURL=styles.css.map */
