body {
    font-family: 'Montserrat';
    font-size: 0.875em;
    color: #000;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}

h2 {
    font-size: 1.5em;
    color: #0B70F4;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25em;
    font-weight: 700;
}

p {
    font-weight: 500;
    color: #767676;
    line-height: 22px;
}

span {
    font-weight: 700;
}