.nav {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;

    @media screen and (max-width: 767px) {
        display: none;
    }

    &__logo {
        width: 98px;
        height: 20px;
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}


.mobile-nav {

    @media screen and (min-width: 768px) {
        display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    & i {
        font-size: 1.5em;
    }

    &__logo {
        width: 98px;
        height: 20px;
    }

    &__side-panel {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        padding-top: 30px;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        z-index: 1001;
        transition: right 0.3s ease;

        &__links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .close-icon-wrapper {
            margin-right: 30px;
            align-self: flex-end;
        }

    }
}

#close-icon-mobile {
    margin-bottom: 80px;
    font-size: 2em;
}